<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whataa.fragmentapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.whataa.fragmentapp.ContainerActivity">
            <!--android:launchMode="singleTop"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.whataa.fragmentapp.pagedemo.PageDemoActivity" />
        <activity android:name="io.whataa.fragmentapp.backstackdemo.StackActivity" />
        <activity
            android:name="io.whataa.fragmentapp.menudemo.MenuActivity"
            android:parentActivityName="io.whataa.fragmentapp.ContainerActivity"
            android:theme="@style/ActivityTheme">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.whataa.fragmentapp.ContainerActivity" />
        </activity>
    </application>

</manifest>