<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.whataa.finepic">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"/>
    <!--即使是Android-Library，四大组件依然只能声明到宿主manifest中-->
</manifest>
